/* box-sizing 把 border 算近 box 尺寸內，不用算內距*/
*,*::before, *::after{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

body{
    max-width: 1920px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 96px;
    border-bottom: 1px solid #F1F1F1;
}

header div{
    width: 90px;
}

header menu{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}
header menu a{
    display: block;
    font-size: 16px;
    line-height: 24px;
    padding: 7px;
    margin:18px;
    color: black;
    text-decoration: none;
    border: 1px solid transparent;
}

header menu a:hover{
    border: 1px solid #c8c8c8;
    font-weight: bold;
}

.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    background-color:#fafafa;
}

.context{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 160px;
}

.context strong {
    position: relative;
    display: inline-block;
}

.context strong img{
    
    position: absolute;
    left: 0%;
    bottom: 12%;
    z-index: -1;
}

.quote{
    display: block;
    width: 51px;
    align-self: start;
}

.qend{
    align-self: end;
}

.context p{
    font-size: 24px;
    line-height: 1.9;
    text-align: center;
    align-self:center;
    z-index: 5;
    font-weight: 700;
}
.info{
    display: flex;
    flex-direction: row;
}

.title .info_context {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 298px;
    margin: 42px 12px 0px 12px;
}

.info_context h2{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
    color: #5b5b5b;
    margin-bottom: 10px;
    border-bottom:2px solid #c1c1c1;
}

.info_context p{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3B3B3B;
}

main{
    margin-top: 120px;
    margin-bottom: 120px;
}

main .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 33.3%;
    margin: 0px 11px 80px 11px;
    /* border: 1px solid red; */
}

.card img{
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

.card-info{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0px 16px 0px 16px;
    /* margin: 0 0 0 15px; */
}

.card-info-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-info-content h2{
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    text-align: left;
    color: #3B3B3B;
}

.card-info-content p{

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
    color: #919191;
}

.card .hashtag {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 16px;
}

.card .hashtag p{
    background-color: #f1f1f1;
    color: #343434;
    padding: 4px 12px 4px 12px;
    border-radius: 16px;
    gap: 10px;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}

.pageselector { 
    display:  flex;
    justify-content: center;
    margin: 0 auto;
    gap: 16px;
    width: 152px;
}

.pageselector a{
    display: flex;
    color: #1e1e1e;
    background-color: white;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    border-radius: 4px;
    gap: 10px;
    padding: 2px 13px 2px 13px;

}

.pageselector a:hover{
    color: white;
    background-color: #1e1e1e;
}

footer{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    height: 424px;
    padding: 80px 312px 80px 312px;

    /* align-items: center; */
    
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
    background-size: auto;
}

footer .logo_info{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .logo_info img{
    width: 120px;
}

footer .logo_info p{

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #3B3B3B;
}

footer .logo_info .email{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color:#919191;
}

footer .contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

footer .contact a{
    display: flex;
    align-items: center;
    width: Fixed (306px)px;
    padding: 8px 24px 8px 24px;
    gap: 8px;
    border-radius: 8px;
    width: 306px;
    font-size: 20px;
    line-height: 30px;
    border: 1px solid #c1c1c1;
    text-decoration: none;
    background-color: white;
    color: #3B3B3B;
}
footer .sign a{
    background-color: black; 
    color: white; 
}

footer .contact a:hover{
    border: 1px solid black;
}


